/* styles.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.header {
  background-color: #333;
  color: #fff;
}

.top-bar {
  background-color: #000;
  text-align: center;
  padding: 5px;
  font-size: 14px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo {
  max-height: 70px;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-right: 20px;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links li a {
  color: #fff;
  text-decoration: underline;
  margin-right: 20px;
}

.search-box {
  float: right;
  margin-top: 8px;
  margin-left: 10PX;
}
.hamburgerClass{
  border: 10px solid yellow;
}
#hamburgerId{
  width: 10px;
  height: 15px;
  border: 2px solid red;
}

.search-box input[type="text"] {
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-box button {
  padding: 6px 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Shopping cart icon styles */
.shopping-cart {
  float: right;
  margin-top: 8px;
}

.shopping-cart a {
  display: block;
}

.shopping-cart img {
  height: 24px;
  /* Adjust size as needed */
  width: auto;
  opacity: 1;
}

.product-detail {
  display: flex;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}



.product-images {
  flex: 1;
}

.main-image img {
  width: 100%;
  height: auto;
}

.thumbnail-images {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.thumbnail-images img {
  width: 22%;
  cursor: pointer;
}


.product-info {
  flex: 1;
  margin-left: 20px;
}

.product-info h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.price {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.current-price {
  color: #d9534f;
}

.original-price {
  text-decoration: line-through;
  color: #aaa;
  margin-left: 10px;
}

.shipping-info {
  margin-bottom: 20px;
  background-color: #ccc;
  text-align: center;
  padding: 5px 0;
}

.size-options {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.size-options label {
  margin-right: 10px;
}

.size-btn {
  padding: 10px 20px;
  margin-right: 20px;
  border: 1px solid #ddd;
  cursor: pointer;
  border-radius: 20px;
}

.size-btn.active {
  background-color: #007bff;
  color: #fff;
}

.quantity {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.quantity-inner-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 20px;
  border: 1px solid;
  padding: 10px 25px;
  border-radius: 50px;

}

#minus, #plus {
  background-color: bisque;
  padding: 5px;
  border-radius: 100%;
  cursor: pointer;
  margin: 0px 10px;

}


#add-to-cart-btn {
  background-color: #000000;
  color: #fff;
  padding: 15px 60px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1em;
}

.checkout-options {
  margin-bottom: 10px;
}

.checkout-options p {
  margin-bottom: 10px;
}

/* .checkout-options img {
    width: 50px;
    margin-right: 10px;
  }
   */
.product-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px 40px;
  background-color: #f9f9f9;
  height: 10%;
}

/* .icon {
    text-align: center;
    width: 15%;
  } */
.product-icons .icon {
  /* text-align: center; */
  /* background-color: rgb(255, 240, 248); */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* margin-bottom: 10px; */

  /* text-align: center;
    width: 15%; */
}

.product-icons .icon img {
  width: 50px;
  cursor: pointer;
  /* margin-bottom: 20px; */
  /* top: 10px; */

}

/* #box1{
    margin-top: 10px;
    border: 2px solid red;
  } */

.product-description,
.additional-info {
  margin-bottom: 10px;
}

.product-description h2,
.additional-info h2 {
  margin-bottom: 10px;
  font-size: 1.5em;
}

.product-description p,
.additional-info p {
  margin: 0;
}


.description-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggle {
  cursor: pointer;
}

.description-content {
  display: none;
  color: #000000;
  font-weight: 500;
  line-height: 19.5px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}


@media screen and (max-width: 768px) {
  .header-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .logo{
    max-width: 20%;
    max-height: 20%;
  }

  .nav-links {
    flex-direction: column;
    align-items: center;
  }

  .nav-links li {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .product-detail {
    flex-direction: column;
    padding: 10px;
  }

  .product-info {
    margin-left: 0;
    margin-top: 20px;
  }

  .product-icons {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .product-icons .icon {
    width: 48%;
    margin-bottom: 10px;
  }

  .product-icons .icon img {
    width: 40px;
  }
}

@media screen and (max-width: 480px) {
  .header-container {
    padding: 10px;
  }

  .logo {
    max-width: 15px;
    max-height: 15px;
  }

  .product-detail {
    padding: 50px;
  }

  .size-btn {
    padding: 5px 10px;
    margin-right: 5px;
  }

  #add-to-cart-btn {
    padding: 10px 20px;
    font-size: 0.8em;
  }

  .product-icons {
    padding: 10px 20px;
  }

  .product-icons .icon {
    width: 100%;
    margin-bottom: 5px;
  }

  .product-icons .icon img {
    width: 30px;
  }
}